@model IEnumerable<ProjektowanieBazDanychT1.Models.Answers>

@{
    ViewData["Title"] = "Podglad";
}

<h2>Podglad</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Answer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCorect)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorect)
            </td>
           
        </tr>
}
    </tbody>
</table>
