
<div class="col-sm-12">

    <div class="panel panel-primary" >

        <h3 class="panel-heading panel-title">
            Pytania
        </h3>

        <div class="panel-body" >
            <p>Pytania egzaminacyjne w systemie: </p>
            <input ng-model="fff" placeholder="Filtruj..." class="iinput narrow-free2">

            <table class="table table-bordered table-responsive table-condensed table-striped">
                <thead>
                <tr>
                    <td class="col-sm-1"> Qid</td>
                    <td class="col-sm-4"> Text</td>
                    <td class="col-sm-2"> A1</td>
                    <td class="col-sm-2"> A2</td>
                    <td class="col-sm-2"> A3</td>
                    <td class="col-sm-1">action</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in M.questions | filter:fff">
                    <td> {{item.qid}}
                    </td>
                    <td class="clickable">
                        <input ng-model="item.text" class="clean_input" placeholder="Treść pytania">
                    </td>
                    <td ng-class="(item.correct==1?'success':'default')">
                        <input ng-model="item.answer1" class="clean_input" placeholder="Odpowiedź nr 1">
                        <span class="glyphicon glyphicon-ok" ng-click="item.correct=1"/>
                    </td>
                    <td ng-class="(item.correct==2?'success':'default')">
                        <input ng-model="item.answer2" class="clean_input" placeholder="Odpowiedź nr 2">
                        <span class="glyphicon glyphicon-ok" ng-click="item.correct=2"/>
                    </td>
                    <td ng-class="(item.correct==3?'success':'default')">
                        <input ng-model="item.answer3" class="clean_input" placeholder="Odpowiedź nr 3">
                        <span class="glyphicon glyphicon-ok" ng-click="item.correct=3"/>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-trash" ng-click="deleteQuesiton(item)"/>
                        <span class="glyphicon glyphicon-floppy-disk" ng-click="saveQuestion(item)"/>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <button class="btn btn-default" ng-click="loadQuestions()">reload</button>
            <button class="btn btn-default" ng-click="saveAllQuestions()">zapisz wszystkie</button>
            <br>
            {{M.questions}}
        </div>
    </div>
</div>