
<div class="col-sm-12">

    <div class="card" >

        <h3 class="card-header card-title bg-info text-white">
            Pytania
        </h3>

        <div class="card-body" >
            <p>Pytania egzaminacyjne w systemie: </p>
            <input ng-model="fff" placeholder="Filtruj..." class="iinput narrow-free2">

            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <td class="col-sm-1"> Qid</td>
                    <td class="col-sm-4"> Text</td>
                    <td class="col-sm-2"> A1</td>
                    <td class="col-sm-2"> A2</td>
                    <td class="col-sm-2"> A3</td>
                    <td class="col-sm-1">action</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in M.questions | filter:fff">
                    <td> {{item.qid}}
                    </td>
                    <td class="clickable">
                        <input type="text" ng-model="item.text" class="form-control" placeholder="Treść pytania">
                    </td>
                    <td ng-class="(item.correct==1?'table-success':'table-default')" ng-dblclick="item.correct=1">
                        <input ng-model="item.answer1" class="form-control" placeholder="Odpowiedź nr 1">
                    </td>
                    <td ng-class="(item.correct==2?'table-success':'table-default')" ng-dblclick="item.correct=2">
                        <input ng-model="item.answer2" class="form-control" placeholder="Odpowiedź nr 2">
                    </td>
                    <td ng-class="(item.correct==3?'table-success':'table-default')" ng-click="item.correct=3">
                        <input ng-model="item.answer3" class="form-control" placeholder="Odpowiedź nr 3">
                    </td>
                    <td>
                        <!--<i class="fa fa-save clickable" ng-click="saveQuestion(item)"></i>-->
                        <!--OOOOOO-->
                        <i class="fa fa-trash clickable text-danger" ng-click="deleteQuesiton(item)"></i>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" ng-click="loadQuestions()">reload</button>
            <button type="button" class="btn btn-default" ng-click="saveAllQuestions()">zapisz wszystkie</button>
            <button type="button" class="btn btn-default" ng-click="addQuestion()">dodaj pytanie</button>
            <br/>
            <hr/>
            Zawartość tabeli M.questions:
            {{M.questions}}
        </div>
    </div>
</div>